<div class="container ">
    <div class="u-flex-container u-flex-grid">
        <article class="u-flex-grid__item" *ngFor="let option of coverLevels, let ind = index" [ngClass]="{selected:option.active}">
            <c-checkbox-card name="included_addon_checkbox" (onSelect)="selectAddon($event)" [isSelected]="option.active" [isDisabled]="option.disabled"
                [index]="ind">
                <div header>
                    <h3>{{option.display}}</h3>
                    <h5 *ngIf="option.price.monthly.amount!=0 && !option.active">for only {{option.price | pricefrequency: pricingFrequency }} extra per <span *ngIf="pricingFrequency==='monthly'">month</span><span *ngIf="pricingFrequency==='annual'">year</span></h5>
                    <p>{{option.description}}</p>                    
                </div>
                <div subheader>
                    <h6>Features</h6>
                </div>
                <m-addon-list content [data]="option.benefits"></m-addon-list>
                <div cta>
                    <button *ngIf="option.disabled===true && option.active===false" class="btn">Unavailable</button>
                    <button *ngIf="option.disabled===true && option.active===true" class="btn">Included</button>
                    <button *ngIf="option.disabled===false && option.active===false"class="btn">Upgrade</button>
                    <button *ngIf="option.disabled===false && option.active===true"class="btn">Remove From Plan</button>
                </div>
            </c-checkbox-card>
        </article>

    </div>
    <article class="p-included__terms">
        <p>By providing the requested data, you consent to AA's Data Protection and Privacy Policy and to AA using it for administration and keeping you informed by
mail, telephone, email and SMS of other products and services from us. By proceeding, you consent to & confirm that you have read and accepted the <a target="_blank" href="https://www.theaa.ie/AA/About-Us/Privacy-Policy.aspx">AA
Data Protection & Privacy Policy</a> and the <a target="_blank" href="http://www.aaireland.ie/membershipterms">AA Terms & Conditions</a><br><br>
By clicking the button below you agree to Terms and Conditions.<br><br>
AA Membership is not a regulated product however the car hire, travel expenses and accommodation elements of Rescue Plus are regulated.<br>
These are underwritten by AmTrust Europe Limited who is authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority in the United Kingdom and is regulated by the Central Bank of Ireland for conduct of business rules. <br>
AA Ireland Limited trading as AA Insurance is regulated by the Central Bank of Ireland.</p>
    </article>
</div>
<c-fixed-nav [hasBack]="false" class="" [nextText]="'I Agree'" (onNavigate)="navigateNext($event)" [next]="page.next" ></c-fixed-nav>