@import "base/_reset.scss";
@import "_grid.scss";
@import "_mixins.scss";
@import "settings/_globals.scss";
@import "settings/_colours.scss";
@import "settings/_typography.scss";
@import "settings/_responsive.scss";
@import "tools/_functions.scss";
@import "tools/_sizing.scss";
@import "tools/_typography.scss";
@import "tools/_positioning.scss";
@import "tools/_responsive.scss";
@import "tools/_utilities.scss";
@import "_variables.scss";
@import "base/_typography.scss";
@import "base/_utils.scss";
@import "base/_buttons.scss";
@import "base/_card.scss";
@import "base/_flag.scss";
@import "base/_flex.scss";
@import "base/_grid.scss";
@import "base/_inputs.scss";
@import "base/_link_group.scss";
@import "base/_lists.scss";
@import "base/_table.scss";
@import "base/_slot.scss";
@import "base/_spinners.scss";
@import "components/shared/_accordian.scss";
@import "components/shared/_autocomplete.scss";
@import "components/shared/_cards_checkbox.scss";
@import "components/shared/_cards_confirmation.scss";
@import "components/shared/_cards_error.scss";
@import "components/shared/_delete_confirmation.scss";
@import "components/shared/_fixed_nav.scss";
@import "components/shared/_form_component.scss";
@import "components/shared/_notifications.scss";
@import "components/shared/_overview.scss";
@import "components/shared/_selector_group.scss";
@import "components/shared/_selector.scss";
@import "components/shared/_show_error.scss";
@import "components/shared/_tab.scss";
@import "components/shared/_top_nav.scss";
@import "components/pages/_included.scss";
@import "components/pages/_your_details.scss";
@import "components/pages/_friends_family.scss";
@import "components/pages/_breakdown.scss";
@import "components/pages/_error.scss";
@import "components/pages/_payment_options.scss";
@import "components/pages/_payment.scss";
@import "components/pages/_confirmation.scss";
@import "components/pages/_terms.scss";
@import "components/pages/_retrieve_quote.scss";
@import "components/popups/_p_overlay.scss";
@import "components/popups/_p_fullscreen.scss";
@import "components/popups/_p_default.scss";
@import "components/popups/_p_testimonials.scss";
@import "components/membership/_add_member_card.scss";
@import "components/membership/_addon_list.scss";
@import "components/membership/_cc_form.scss";
@import "components/membership/_dd_form.scss";
@import "components/membership/_save_quote_button.scss";
@import "components/membership/_payment_agreement.scss";
@import "components/membership/_promo_code_button.scss";
@import "components/membership/_address_list.scss";
@import "components/membership/_quotes_list.scss";
@import "components/membership/_breakdown.scss";
@import "components/membership/_myAA_signin.scss";

@import "base/_containers.scss";
@import "libs/_iscroll.scss";

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    @include font-size(regular);
    @include font-smoothing;
    text-size-adjust: 100%;
    overflow-y: auto;
    ::selection {
        background-color: palette(brand);
        color: black;
    }
    width: 100%;
    min-height:100vh;
    background-color:$dark;
}

app {
    width: 100%;
    min-height: 100vh;
    float: left;
}

main.content {
    position: relative;
    @include outer-container(100%);
    min-height: calc(100vh - #{$navHeightDefault * 2});
    z-index: $routerOutlet - 1;
    padding-top: $navHeightDefault;
    @include media($mobile) {
        padding-top: $navHeightMobile;
        min-height: calc(100vh - #{$navHeightMobile * 2});
    }
    router-outlet + * {
        position: relative;
        @include span-columns(12);
        padding-top: $defaultContainerPadding;
        background-color: $dark;
        color: $light;
        z-index: $routerOutlet;
        min-height: calc(100vh - #{$navHeightDefault});
        @include media($upToDesktop) {
            padding-top: $defaultContainerPaddingTablet;
            min-height: calc(100vh - #{$navHeightMobile});
        }
        @include media($mobile) {
            padding-top: $defaultContainerPaddingMobile;
            min-height: calc(100vh - #{$navHeightMobile});
        }
    }
}
