//-------------------------------------
// Checkbox Cards
//-------------------------------------
c-checkbox-card,
.c-checkbox-card {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(stretch);
    
    @include media($upToDesktop) {
        float: left;
        margin-bottom: size(medium);
        width: 100%;
    }

    header,
    content,
    .cta {
        background-color: $light;
    }

    &.isChecked {
        header {
            background-color: $primary;
        }
        .c-checkbox-card__subheader {
            background-color: $primary-shadow;
        } 
        .checkbox-card__checked {
            background-color: $dark;
            background-image: url($IMG_URL+'/assets/images/icons/tick.svg');
            background-position: center center;
            background-size: 55% 55%;
            background-repeat: no-repeat;
            opacity:0.3;
            
        }
        button.btn {
            background-color:$dark-med-gray;
            color: $light;
        }
        
    }
    .cta {
        @include flex(0 0);
    }
    &__subheader {
        position: relative;
        z-index: 999;
        padding: size(small) size(medium) size(small);
        background-color: $secondary-shadow;
        color: $light;
        min-height: 50px;
        @include flex(0 0);

        .btn--arrow {
            top: 50%;
            right: 10px;
            transform:translateY(-35%);

            &:after {
                border-color: $light;
                transition: 0.3s all;
                transform:rotate(135deg);
            }
            &.invert:after{
                top: 5px;
                transform:rotate(-45deg);
            }
        }
    }
    header {
        position: relative;
        z-index: 999;
        padding: size(medium) size(medium) size(medium);
        min-height: 220px;
        background-color: $secondary;
        box-shadow: 0 2px 3px rgba(48, 48, 48, 0.25);
        color: $light;
        @include flex(0 0);
        // @include media($upToDesktop){
        //     min-height: initial;
        // }

        .checkbox-card__checked {
            position: absolute;
            top: 0;
            right: 0;
            margin: size(medium) size(medium);
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: $dark;
            opacity:0.3;
        }
        h3 {
            max-width: 85%;
        }
        h5 {
            margin: 0 0 size(small);
            font-weight: 400;
        }
        p {
            @include font-size(tiny, false);

            margin: size(small) 0 size(small);

        }

        
    }
    &__content {
        z-index: 99;
    }
    section {
        @include flex(0 0 300px);
        float: left;
        overflow-y: scroll;
        padding: size(medium) size(medium) size(medium);
        width: 100%;
        pointer-events: all;
        background-color: $light;
        @include media($upToDesktop){
            @include flex(0 0 200px);
            padding: 0;
        }
    }
    button.btn {
        margin-bottom: 0;
        width: 100%;
        background-color: $yellow;
        color: $dark;
    }
}