<div class="c-notification c-notification--login" @visibleState="isOpen">
        <section *ngIf="!isLoginToMyAA" class="c-notification__question" >
                <header >
                        <h6>Login to MyAA</h6>
                </header>
                <button (click)="isLoginToMyAA=true" class="btn btn--yellow btn--narrow">Yes, I Want</button>
                <button id="notificationCloseBtn" (click)="emitCancel()" class="btn btn--yellow btn--narrow">No, Thanks</button>
        </section>
        <section *ngIf="isLoginToMyAA" class="c-notification__form">
                <header >
                        <h6>Are you already registered with myAA?</h6>
                </header>
                <form #form [formGroup]="loginForm">
                        <form-component
                                class="c-form-component--inline c-form-component--noLabel"
                                [form]="loginForm"  
                                [field]="emailField">
                        </form-component>
                        <form-component
                                class="c-form-component--inline c-form-component--noLabel"
                                [form]="loginForm"  
                                [field]="passwordField">
                        </form-component>
                        <c-error-button [text]="'Login'" [form]="loginForm" (onContinue)="login()"></c-error-button>
                </form>
                <button id="notificationCloseBtn" (click)="emitCancel()" class="btn--close btn--light btn--arr">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.35 13.35">
                                <defs>
                                        <style>
                                        .cls-1{fill:#f7f7f7;opacity:0.7}
                                        .cls-2{fill:none;stroke:#e84136;stroke-width:1.5px;}
                                        </style>
                                </defs>
                                <g id="group">
                                        <circle id="ellipse" class="cls-1" cx="6.67" cy="6.67" r="6.67"/>
                                        <g id="group-2">
                                        <line id="line" class="cls-2" x1="4.11" y1="4.11" x2="9.24" y2="9.24"/>
                                        <line id="line-2" class="cls-2" x1="4.11" y1="9.24" x2="9.24" y2="4.11"/>
                                        </g>
                                </g>
                        </svg>
                </button>
                
        </section>
</div>