<section class="container">
   
    <!--<div *ngIf="isFieldsWarningVisible" 
        class="o-slot--warning">
            <h4>Yo, Check Yo Damn Fields Stupid User Person</h4>
        </div>-->
   
    <h3 class="title">Simply fill in some details below</h3>
    
    <form #form [formGroup]="userDetailsForm" autocomplete="off">
        <form-component 
            *ngFor="let field of fields" 
            class="c-form-component--default" 
            [form]="userDetailsForm" 
            [field]="field">
        </form-component>
    </form>
    
    <address-search #addressForm (onSelectAddress)="setValidatedAddress($event)" [address]="addressFields" [values]="primaryAdultUser?.values"></address-search>
</section>

<c-fixed-nav (onNavigate)="navigateNext($event)" [next]="page.next" [prev]="page.prev" [disabled]="!userDetailsForm.valid||!isValidated"></c-fixed-nav>
