<div class="c-fixed-nav__spacer"></div>
<nav class="c-fixed-nav__container">
    <button *ngIf="hasBack" aria-label="Previous Section" tabindex="0" (click)="emitPrev()" class="btn bk--grey btn--expand">
        <div class="btn--stack">
            <div role="presentation" class="img_container">
                <img src="assets/images/icons/arrow-alt-left.svg" alt="">
            </div>
        </div>
    </button>
    <button  *ngIf="hasNext" aria-label="Next Section" tabindex="0" (click)="emitNext()" class="btn bk--primary btn--expand" >
        <div class="btn--stack isInverse" >
            <div *ngIf="!nextText" role="presentation" class="img_container">
                <img src="assets/images/icons/arrow-alt-right.svg" alt="">
            </div>
             <div *ngIf="nextText" role="presentation" class="txt_container">
               <p>{{nextText}}</p>
            </div>
        </div>
    </button>
</nav>
