//-------------------------------------
// Confirmation Page
//-------------------------------------
c-page-confirmation {
    img#digitalPack {
        display: block;
        margin: 0 auto;
        max-height: 12rem;
    }
    #topContainer {
        @include span-columns(8);
        @include shift(2);
        @include media($mobile) {
            @include span-columns(4);
            @include shift(0);
        }
        text-align: center;
        h2 {
            font-weight: 200;
            &:last-of-type {
                margin-bottom: size(medium);
            }
        }
        h4 i {
            font-weight: 100;
        }
        .btn {
            margin: size(medium) 0 size(huge);
            padding: 1rem 2rem;
        }
        hr {
            margin: size(large) 0;
            border: none;
            border-top: white 1px solid;
        }
    }
    #midContainer {
        .o-list li {
            @include type-setting(1);
        }
        h4 {
            @include media($mobile) {
                @include type-setting(1);
            }
            margin-bottom: size(medium);
            font-weight: 400
        }
        section {
            @include span-columns(5);
            @include media($mobile) {
                @include span-columns(4);
                margin-bottom: 0;
            }
            margin-bottom: size(large)
        }
        section:last-child {
            @include span-columns(6);
            @include shift(1);
            @include media($mobile) {
                @include span-columns(4);
                @include shift(0);
                margin-bottom: 0;
                .panel-group {
                    margin-left: -$navPaddingMobile;
                    width: calc(100% + #{$navPaddingMobile * 2});
                }
            }
        }
    }
    #banner {
        padding: 0;
        min-height: 30rem;
        background-size: cover;
        background-position: center center;
        section {
            @include span-columns(4);
            @include shift(1);
            width: 400px;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 3rem 1.5rem 2rem;
            @include media($upToDesktop) {
                @include span-columns(6);
                @include shift(1);
            }

            @include media($mobile) {
                @include span-columns(4);
                @include shift(0);
                padding-top: size(large);
                h2:not(.large) {
                    @include type-setting(2);
                }
            }
            h2 {
                text-align: center;
                font-weight: 600;
                 margin-bottom: size(small);
                color: $yellow;
            }
            .content {
                @include span-columns(12);
                @include media($mobile) {
                    @include span-columns(4);
                    @include shift(0);
                    h4 {
                        @include type-setting(2);
                    }
                }
                margin-bottom: size(medium);
                text-align: center;
                h4 {
                    margin-bottom: size(medium);
                    color: white;
                }
            }
            button {
                @include span-columns(12);
                @include media($mobile) {
                    @include span-columns(4);
                    @include shift(0);
                }
            }
        }
    }
    #c-page-confirmation__mid_container {
        background-color: $light-gray;
    }
    #c-page-confirmation__app_container {
        background-image: url($IMG_URL + '/assets/images/confirmation/app_banner_background.jpg');
        background-size: cover;
        padding: 1.5rem 0;
        button {
            font-size: 16px;

        }
        section {
            @include display(flex);
            @include justify-content(space-around);
            @include align-items(center);
            @include media($upToDesktop) {
                @include flex-direction(column);
                img {
                    display: none;
                }
                h4 {
                    margin-bottom: size(small);
                }
            }
            h4 {
                font-weight: 400;
            }
        }
    }
}