//-------------------------------------
// #TERMS
//-------------------------------------
p-terms {
  @include media($mobile) {
    padding: 0!important;

    .container--flex--center {
      padding: 0;
      overflow: hidden;
    }

    .o-card__content {
      height: calc(100vh - 60px - 60px);
			overflow-y: scroll;
    }
    
  }
  padding-top:0!important;

   @media screen and (-ms-high-contrast: active),
    (-ms-high-contrast: none) {
        .btn--image {
          padding-top:12px;
      }
    }
  
}

.c-terms {
  margin-bottom: size(huge);
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: $primary;
  }
  &__content {
    p {
      font-size: 1rem;
      line-height: 2;
    }
    a {
      margin: 0;
      margin-left: 5px;
      color: $yellow;
      font-size: inherit;
    }
    .btn--checkbox {
      margin-right: size(medium);
      border: 1px solid $yellow;
      color: $yellow;
      font-weight: bold;
      &.active {
        border: 1px solid $dark;
        color: $dark;
      }
    }
    .u-flex {
      align-content: center;
      margin-top: size(huge);
      p {
       @include display(flex);
        @include align-items(center);
        margin: 0;
      }
    }
  }
}