<section class="container--flex container--center">
    <div class="c-breakdown">
        
        <div (click)="toggleSaveQuoteVisibleUI(false)" class="c-breakdown__header">
            <h1 class="c-breakdown__title">{{config.code.description}}</h1>
            <img *ngIf="aaVisiblity" src="assets/images/icons/dropdown_arrow.svg" alt="">
        </div>

        <section (onHeightChange)="breakdownHeight=$event" class="c-breakdown__carousel-item" output-height>
            
            <div class="c-breakdown__subheader">
                <h6 class="c-breakdown__subtitle">Roadside Rescue</h6>
                <p><strong>Web Reference: </strong> {{quote.reference}}</p>
                <p>Your quote is valid for 7 Days. </p>
            </div>

            <c-selector-group 
                *ngIf="quote"
                class="c-breakdown__selector-group"
                [init]="frequencyControl"
                [control]="frequencyControl">
                <c-selector *ngFor="let option of paymentOptions" [value]="option.type" [id]="option.type" class="btn c-breakdown__selector">{{quote.premium[option.type].pretty}}<span> /{{option.type}}</span></c-selector>
            </c-selector-group>
            <div class="c-breakdown__body">
                <div *ngIf="isLoadingQuote" class="c-breakdown__background">
                    <c-spinner class="loading"></c-spinner>
                </div>
                <c-selector-group 
                    class="c-selector-group--flex"
                    [init]="frequencyControl"
                    [control]="frequencyControl">
                    <c-selector *ngFor="let option of paymentOptions" [value]="option.type" class="btn c-selector--outline">Pay {{option.type}}</c-selector>
                </c-selector-group> 
                <ul class="c-breakdown__list" [class.no-removable-items]="!hasRemovableItems">
                    <m-breakdown-item 
                        *ngFor="let item of breakdownOptions, let i = index"  
                        [@breakdownItemVisiblity]="'visible'"
                        [frequencyControl]="frequencyControl"
                        (onRemoveItem)="removeItem($event)" 
                        [item]="item">
                        
                    </m-breakdown-item>
                </ul>
                <button (click)="emitNextNavigation()" class="btn btn--expand btn--yellow">Buy Now</button>
                 <section class="c-breakdown__terms">
                    <p>If your quote includes Rescue Plus: An annual premium of €12.00 (incl. 5% Government Levy) is included in the price, for the insured elements of Rescue Plus.<br><br>
                    The regulated elements of car hire, travel expenses and accommodation within Rescue Plus are provided by AmTrust Europe Limited.</p>
                </section>
            </div>
            <div [@saveQuoteStatus]="saveQuoteVisiblity" class="c-breakdown__footer">
                <section>
                    <button [disabled]="quoteIsSaved" class="btn btn--expand btn--outline btn--dark" m-save-quote></button>
                </section>
            </div>
        </section>
        <section [@aaSectionStatus]="aaSectionVisiblity" [isVisible]="aaVisiblity" [breakdownHeightDrawer]="breakdownHeight" class="c-breakdown__myAA c-breakdown__carousel-item">
            <header (click)="toggleSaveQuoteVisibleUI(true)">
                <img src="assets/images/icons/myAA.svg" alt="">
                <h6>Login to save your quote</h6>
            </header>
            <m-save-quote-signin [style.height]="breakdownHeight +'px'" (onSuccessLogin)="setMyAASuccessLoginUI()" class="m-save-quote-signin"></m-save-quote-signin>
        </section>
        
    </div>
</section>
<c-fixed-nav [prev]="page.prev" [next]="page.next"></c-fixed-nav>
