//-------------------------------------
// Spinners
//-------------------------------------
.btn:hover .u-loader,
.btn:hover .u-loader:before,
.btn:hover .u-loader:after {
  background: $primary;
  color: $primary;
}

.u-loader {
  margin: 7.5px auto 0;
}

.u-loader,
.u-loader:before,
.u-loader:after {
  background: #ffffff;
  color: #ffffff;
}

.u-loader--lines,
.u-loader--lines:before,
.u-loader--lines:after {
  width: 0.25em;
  height: 0.4em;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
}

.u-loader--lines:before,
.u-loader--lines:after {
  position: absolute;
  top: 0em;
  content: '';
}

.u-loader--lines:before {
  left: -0.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.u-loader--lines {
  position: relative;
  color: #ffffff;
  text-indent: -9999em;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.u-loader--lines:after {
  left: 0.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    height: 0.4em;
    box-shadow: 0 0;
  }
  40% {
    height: 0.4em;
    box-shadow: 0 -1em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    height: 0.8em;
    box-shadow: 0 0;
  }
  40% {
    height: 1.2em;
    box-shadow: 0 -1em;
  }
}

.spinner.loading {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0rem;
  padding: 20px;
  width: 1.5rem;
  height: 1.5rem;
  color: $dark-gray;
  &:before {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: $color-light;
    background-position: center;
    content: '';
    transition: all ease 0.25s;
    transform-origin: 0% 0%;
    animation: spinner-animate 1.5s cubic-bezier(.3, .5, .7, .5) infinite;
    transform-style: preserve-3D;
  }
}

c-spinner {
  p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 45px;
    width: 400px;
    position: absolute;
    left: -180px;
    text-align: center;
  }
}

.icon-holder {
  @include flex(0 0 auto);
  width: 35px;
  position: absolute;
  height: 35px;
  animation: rotate 2s ease-in-out 0s infinite;
  right: 5px;
  top: 0;
}

.icon-loader {
  stroke: none;
  fill: $light;
}

@keyframes rotate {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(405deg);
  }
}