//-------------------------------------
// Add Member Card
//-------------------------------------
m-add-member-card {


    height: 14rem;
    border: $defaultBorder;
    border-radius: 2px;

    @include media($tabletPortrait){
        height: 21rem;
    }

    @include media($mobile){
        height: 14rem;
    }

    

    &.isPlaceholder {
        border: $ghostBorder;
        color: $dark-med-gray;
        cursor: pointer;
        transition: $transition-short;

        &:hover { background-color: darken($dark, 2%); }
        & .o-flag__image img,
        & .o-flag__image svg * {
            fill: $dark-med-gray;
        }
    }
    &.isValid {
        border: $validBorder;

        & .o-flag__image img,
        & .o-flag__image svg * {
            fill: $primary;
        }
    }

    &.isEditing {
        .c-add_member_close {
            border-color: $light;

            &:hover {
                background-color: $light;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1MCcgaGVpZ2h0PSc1MCc+IDxsaW5lIHN0cm9rZT0nIzI3MjgyMicgc3Ryb2tlLXdpZHRoPSc1JyB4MT0nMTYnIHkxPScxNicgeDI9JzMzJyB5Mj0nMzMnIC8+IDxsaW5lIHN0cm9rZT0nIzI3MjgyMicgc3Ryb2tlLXdpZHRoPSc1JyB4MT0nMzMnIHkxPScxNicgeDI9JzE2JyB5Mj0nMzMnIC8+IDwvc3ZnPg==");
                color: $dark;
            }
        }
        .o-flag__image {  max-width: 0; }
    }
    .o-flag {
        width: 100%;
        height: 100%;
    }
    .o-flag__image {
        max-width: 0;
        width: 45%;
        
    }
    .o-flag__image img,
    .o-flag__image svg * {
        fill: white;
        
    }
    .o-flag__image img,
    .o-flag__image svg {
        display: none;

        &.active {
            display:block;
        }
    }
    .o-flag__body {
        @include type-setting(2);

        position: relative;
        text-align: center;
        font-weight: 200;
    }
    .o-flag__body h5 {
        color: $light;
        font-weight: 200;
    }
    .o-flag__body h4 {
        @include media($mobile){
            margin-bottom: size(tiny);
        }

        margin-bottom: size(medium);
        color: $light;
        font-weight: 200
    }
    .c-add_member_close {
        position: absolute;
        top: 10px;
        right: 10px;
        @include align-self(center);
        padding: 0;
        width: 28px;
        height: 28px;
        border: 2px solid $primary;
        border-radius: 50%;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1MCcgaGVpZ2h0PSc1MCc+IDxsaW5lIHN0cm9rZT0nI2ZmZmZmZicgc3Ryb2tlLXdpZHRoPSc1JyB4MT0nMTYnIHkxPScxNicgeDI9JzMzJyB5Mj0nMzMnIC8+IDxsaW5lIHN0cm9rZT0nI2ZmZmZmZicgc3Ryb2tlLXdpZHRoPSc1JyB4MT0nMzMnIHkxPScxNicgeDI9JzE2JyB5Mj0nMzMnIC8+IDwvc3ZnPg==");
        background-position: center;
        background-size: cover;
        color: $light;
        text-align: center;
        text-indent: -9999px;
        font-weight: 400;
        font-size: 12px;
        line-height: 28px;
        cursor: pointer;

        &:hover {
            background-color: $primary;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc1MCcgaGVpZ2h0PSc1MCc+IDxsaW5lIHN0cm9rZT0nIzI3MjgyMicgc3Ryb2tlLXdpZHRoPSc1JyB4MT0nMTYnIHkxPScxNicgeDI9JzMzJyB5Mj0nMzMnIC8+IDxsaW5lIHN0cm9rZT0nIzI3MjgyMicgc3Ryb2tlLXdpZHRoPSc1JyB4MT0nMzMnIHkxPScxNicgeDI9JzE2JyB5Mj0nMzMnIC8+IDwvc3ZnPg==");
        }
    }
    .c-add_member_button, c-error-button .btn {
        @include font-size(small);

        margin-top: size(medium);
        min-height: size(large);
        width: 100%;
        background-color: $yellow;
    }
    form + .c-add_member_button , c-error-button .btn {
        margin: 0;
    }
    c-error-button .btn {
        @include font-size(tiny, false);

        &.isInvalid {
            border: 2px solid $warning-red;
            background: transparent;
            color: $warning-red;
        }
    }
    form {
        .form-group {
            float: left;
            margin: 0;
            padding: 0;
            min-width: 0;
            width: 100%;
            text-align: left;

            input {
                @include font-size(small);

                min-width: 0!important;
                min-height: 35px;
                width: 100%;

            }
            button[class="rset"] {
                display:none;
            }
        }
    }
    label {
        @include type-setting(0);

        float: left;
    }
    .fc--firstName {
        @include span-columns(6);

        margin-bottom: size(small);

    }
    .fc--surname {
        @include span-columns(6);
        @include omega();

        margin-bottom: size(small);

    }
    .fc--dateOfBirth {
        flex-grow: 1;
    }
}
