//-------------------------------------
// Payment Agreement Overview
//-------------------------------------
m-payment-agreement,
#payment-agreement {
	max-width: 380px;
	margin: auto;
	@include media($mobile) {
		
		.o-card__content {
			height: calc(100vh - 60px - 60px);
			overflow-y: scroll;
		}
	}
	@media screen and (-ms-high-contrast: active),
	(-ms-high-contrast: none) {
		margin: inherit
	}
	.o-card {
		&__title {
			padding: size(large) size(medium);
			height: auto;
			min-height: 4.5rem;
			background-color: $dark-med-gray;
			color: white;
			flex: 1 1 auto;
			// @include media($mobile){
			// 	min-height: 340px;
			// }
			h5 {
				text-align: left;
				font-weight: 400;
				line-height: 1.5;
			}
		}
	}
}