//-------------------------------------
// Payment Agreement Overview
//-------------------------------------
m-payment-agreement,
#payment-agreement {
	margin: auto;
	max-width: 380px;

	.o-card {
		&__title {
			padding: size(large) size(medium);
			height: auto;
			min-height: 4.5rem;
			background-color: $dark-med-gray;
			color: white;
			// @include media($mobile){
			// 	min-height: 340px;
			// }

			h5 {
				text-align: left;
				font-weight: 400;
				line-height: 1.5;
			}
		}
	}
}