//-------------------------------------
// Save Quote Button
//-------------------------------------
button[m-save-quote] {
	float: left;
	overflow: hidden;
	margin: 0;
	width: 100%;

	span {

		img {
			justify-content: flex-start;
			margin-left: size(tiny);
			width: 10px;
			height: 10px;
		}
	}

}